<p id="notice"><%= notice %></p>

<h1>Notifications</h1>

<table>
  <thead>
    <tr>
      
    </tr>
  </thead>

  <tbody data-behavior="notification-panel">
    <% @notifications.each do |notification| %>
      <%= render notification %>
    <% end %>
  </tbody>
</table>

<br>



